<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Books</title>
</head>
<body style="background-color: #B1DB34;">
<div>
	<center>
		<h1>Books</h1>
		<form method="post" action="">
			<input type="text" name="bookname" placeholder="Enter book name..." autofocus>
			<input type="submit" name="sm" value = "Search">
		</form>
		<hr>
	</center>
</div>
<div style="overflow-x: auto;overflow-y: auto;width: 98vw;height: 65vh;background-color: white">
	{{data|safe}}
</div>
<hr>
<div style="font-family: monospace;"><b>Application Name</b>: Books(Python-Flask Version of Php-SanBooks)<br><b>Developer's name</b>: Sandipan Chowdhury, <b>Address</b>: 743329, India, yishu1729@gmail.com</div>

</body>
</html>